body {
  font-family: 'Arial Black';
  font-size: 16px;
  line-height: 1;
  background-color: teal;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: white;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid darkslategray;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: darkslategray;
  color: white;
  border-top: 1px dashed #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: #d3d3d3;
  color: rgba(0, 0, 0, 0.3);
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: darkslategray;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

#timeblock {
  border: #ff6961 0.5px solid;
  margin: 0px;
  padding: 5px;
}